language: go
go:
  - 1.2
  - 1.3
  - 1.4
  - tip
env:
  - GOARCH=386
  - GOARCH=amd64
matrix:
  allow_failures:
    - go: tip
install:
  - go get github.com/smartystreets/goconvey
  - go get code.google.com/p/go-uuid/uuid
  - go get github.com/kaeuferportal/stack2struct
